.font  {
    font-size: 20px;
    color: rgb(0, 0, 0);
}
.font2 {
    font-size: 20px;
    color: rgb(0, 0, 0)
}
body {
    margin: 0;
    padding: 0;
    min-height: 300vh;
    background-image: url('../images/dexter.JPG');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}
body {
    background-color: rgb(167, 236, 248);
}
