.my-image {
    width: 200px;
    height: auto;
}
.skiboard {
    width: 200px;
    height: auto;
}
body {
    background-color: #afebf3;
}
h1 {
    color:darkblue;
}
.custom-font-size {
    color:rgb(20, 63, 158)
}
.custom-font-size {
    font-size:17px;
}
.hearts {
    position: absolute;
    top:180px;
    left:250px;
}
.flowers {
    width:430px;
    position:absolute;
    top:350px;
    left: 400px;
}
.hearts {
    width: 500px;
}
