body {
    background-color: #afebf3;
    font-family: Arial, sans-serif;
}

h1 {
    color: #114bc7;
}
h3 {
    color: dodgerblue;
}
.hearts {
    position: absolute;
    top:450px;
    left:100px;
    
}